html {
  background: transparent;
  box-sizing: border-box;
  color: white;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  letter-spacing: 1px;
  text-align: center; }
  html body {
    background: black;
    background: linear-gradient(120deg, black, #2e2e2e) fixed;
    min-height: 100%;
    overscroll-behavior: none;
    padding: 0 20px;
    position: relative; }
    html body header {
      background: #333333;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1; }
    html body main {
      padding: 100px 0 6rem; }
    html body footer {
      background: #333333;
      bottom: 0;
      font-size: 0.8rem;
      left: 0;
      letter-spacing: 2px;
      padding: 14px 0;
      position: absolute;
      right: 0;
      width: 100%; }
    html body h1,
    html body h2,
    html body h3,
    html body h4,
    html body h5,
    html body h6 {
      box-sizing: border-box;
      margin-top: 0; }

div,
header,
main,
footer,
p,
form,
label,
input,
select,
button,
button:hover,
button:active,
button:focus {
  box-sizing: border-box; }

button,
button:hover,
button:active,
button:focus,
input,
optgroup,
select,
textarea {
  font-family: inherit; }

input,
select {
  border: 1px solid #cccccc;
  border-radius: 0;
  color: #333333;
  line-height: 1.3;
  padding: 8px;
  width: 100%; }
  input::placeholder,
  select::placeholder {
    color: #999999; }

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #00ffcc;
  text-decoration: none; }
  a:hover,
  a:visited:hover,
  a:hover:hover,
  a:active:hover,
  a:focus:hover {
    text-decoration: underline; }

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  box-shadow: 0 0 3px 3px rgba(66, 180, 250, 0.8);
  outline: none; }

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  line-height: normal;
  padding: 5px 8px;
  width: auto; }
  .button:hover,
  .button:visited:hover,
  .button:hover:hover,
  .button:active:hover,
  .button:focus:hover {
    text-decoration: none; }

.button-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.message {
  border-radius: 5px;
  line-height: 1.55;
  margin: 20px auto;
  max-width: 800px;
  padding: 15px 10px; }

.select-wrapper {
  background: #333333;
  border-radius: 4px;
  color: #e6e6e6;
  position: relative; }
  .select-wrapper:after {
    content: "\f0dc";
    cursor: pointer;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px; }

.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: inherit;
  color: inherit;
  cursor: pointer; }
  .select-wrapper select::-ms-expand {
    display: none; }

header {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px; }
  header .header-item {
    font-size: 0.9rem;
    line-height: normal;
    margin: 0; }
  header .header-button,
  header .header-button:hover,
  header .header-button:active,
  header .header-button:focus {
    background: #00ffcc;
    border: 2px solid #00ffcc;
    color: #333333;
    margin: 0 4px; }
    header .header-button:hover,
    header .header-button:hover:hover,
    header .header-button:active:hover,
    header .header-button:focus:hover {
      background: transparent;
      color: #00ffcc; }

.modal {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1; }
  .modal .modal-content {
    animation: slideIn 0.3s ease-out;
    background: white;
    border-radius: 5px;
    color: #333333;
    margin: 10% auto;
    max-width: 280px;
    width: 80%; }
    .modal .modal-content .modal-header {
      border-bottom: 1px solid #cccccc;
      padding: 10px;
      text-align: left; }
    .modal .modal-content .modal-body {
      padding: 15px; }
      .modal .modal-content .modal-body .form-group {
        margin-bottom: 20px;
        max-width: 200px; }
        .modal .modal-content .modal-body .form-group label {
          display: block;
          font-size: 0.8rem;
          font-weight: 600;
          letter-spacing: 2px;
          margin-bottom: 3px;
          text-align: left; }
      .modal .modal-content .modal-body .button-group {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end; }
        .modal .modal-content .modal-body .button-group .modal-button,
        .modal .modal-content .modal-body .button-group .modal-button:hover,
        .modal .modal-content .modal-body .button-group .modal-button:active,
        .modal .modal-content .modal-body .button-group .modal-button:focus {
          background: #333333;
          color: #00ffcc;
          margin-left: 8px; }
          .modal .modal-content .modal-body .button-group .modal-button:hover,
          .modal .modal-content .modal-body .button-group .modal-button:hover:hover,
          .modal .modal-content .modal-body .button-group .modal-button:active:hover,
          .modal .modal-content .modal-body .button-group .modal-button:focus:hover {
            background: #262626; }

.countdown .card {
  background: #333333;
  display: inline-block;
  margin: 10px;
  min-width: 100px;
  padding: 20px 0; }
  .countdown .card .countdown-value {
    color: #00ffcc;
    font-size: 2rem;
    margin-bottom: 10px; }
  .countdown .card .countdown-unit {
    text-transform: capitalize; }

.info-message {
  background: #e6f5ff;
  border: 1px solid #ccebff;
  color: #005085; }

.error-message {
  background: #fee6ea;
  border: 1px solid #fecdd6;
  color: #82031a; }

@keyframes slideIn {
  from {
    margin-top: 0; }
  to {
    margin-top: 10%; } }

