// STYLES FOR PAGE'S MAIN CONTENT

// Button styles
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: $mint;
  border: 2px solid $mint;
  border-radius: 4px;
  color: change-color($black, $lightness: 20%);
  cursor: pointer;
  line-height: normal;
  padding: 5px 8px;
  width: auto;
  &:hover {
    background: transparent;
    color: $mint;
    text-decoration: none;
  }
}

// Header styles
.header-item {
  font-size: 0.9rem;
  line-height: normal;
  margin: 0;
}

.header-button,
.header-button:hover,
.header-button:active,
.header-button:focus {
  margin: 0 4px;
}

// Countdown styles
.countdown .card {
  background: change-color($black, $lightness: 20%);
  display: inline-block;
  margin: 10px;
  min-width: 100px;
  padding: 20px 0;
  .countdown-value {
    color: $mint;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .countdown-unit {
    text-transform: capitalize;
  }
}

// Loading spinner styles
.loading-spinner {
  -webkit-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
  border: 4px solid change-color($black, $lightness: 100%);
  border-top: 4px solid transparent;
  border-radius: 50%;
  height: 30px;
  margin: 50px auto;
  width: 30px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}