@import "variables";

html,
body,
header,
main,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
button,
form,
label,
input,
select,
option,
p,
a {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: change-color($black, $lightness: 20%);
  font-family: $main-font;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: left;
}

html {
  height: 100%;
}

body {
  font-size: 0.9rem;
  min-height: 100%;
  padding: 0 20px;
  position: relative;
}

a,
a:visited,
a:active,
a:focus {
  color: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

span {
  color: inherit;
  letter-spacing: inherit;
}

input {
  text-align: left;
}

button,
button:hover,
button:active,
button:focus,
input[type=submit],
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=button],
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus,
select {
  cursor: pointer;
}
