@import "variables";
@import "reset";

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

.message {
  border-radius: 5px;
  line-height: 20px;
  margin: 15px auto;
  max-width: 800px;
  padding: 15px 10px;
  text-align: center;
  width: 100%;
}

html {
  background: change-color($grayscale, $lightness: 0%);
  background: linear-gradient(120deg, change-color($grayscale, $lightness: 0%), change-color($grayscale, $lightness: 18%)) fixed;
  header {
    background: change-color($grayscale, $lightness: 20%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    h1 {
      color: change-color($grayscale, $lightness: 100%);
      font-size: 0.8rem;
      letter-spacing: 2px;
      padding: 15px;
    }
    .button-group {
      padding-right: 8px;
      button,
      button:hover,
      button:active,
      button:focus {
        background: $mint;
        border-radius: 3px;
        font-size: 0.8rem;
        margin: 8px 4px;
        padding: 7px;
      }
    }
  }
  main {
    padding-top: 100px;
    padding-bottom: 70px;
    #modal {
      background: rgba(change-color($grayscale, $lightness: 0%), 0.75);
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: auto;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      .modal-content {
        animation: slideIn 0.3s ease-out;
        background: change-color($grayscale, $lightness: 100%);
        border-radius: 5px;
        margin: 10% auto;
        max-width: 280px;
        width: 70%;
        .modal-header {
          border-bottom: 1px solid change-color($grayscale, $lightness: 80%);
          padding: 10px;
        }
        .modal-body {
          padding: 15px;
          .form-group {
            margin: 5px 10px 20px;
            label {
              display: block;
              font-size: 0.8rem;
              font-weight: 600;
              letter-spacing: 2px;
              line-height: 18px;
              margin-bottom: 3px;
            }
            input[type=text],
            select {
              border: 1px solid change-color($grayscale, $lightness: 80%);
              max-width: 120px;
              padding: 8px;
              width: 100%;
            }
          }
          .error-message {
            background: change-color($error-red, $lightness: 95%);
            border: 1px solid change-color($error-red, $lightness: 90%);
            color: change-color($error-red, $lightness: 26%);
          }
          .button-group {
            margin-top: 15px;
            text-align: right;
            input[type=submit],
            input[type=submit]:hover,
            input[type=submit]:active,
            input[type=submit]:focus,
            input[type=button],
            input[type=button]:hover,
            input[type=button]:active,
            input[type=button]:focus {
              background: change-color($grayscale, $lightness: 20%);
              border-radius: 3px;
              color: $mint;
              margin: 0 3px 0 8px;
              padding: 10px;
            }
          }
        }
      }
    }
    .info-message {
      background: change-color($info-blue, $lightness: 95%);
      border: 1px solid change-color($info-blue, $lightness: 90%);
      color: change-color($info-blue, $lightness: 26%);
    }
    .countdown {
      font-size: 1.1rem;
      text-align: center;
      p {
        color: change-color($grayscale, $lightness: 100%);
        margin-bottom: 10px;
        text-align: center;
      }
      .card {
        background: change-color($grayscale, $lightness: 20%);
        display: inline-block;
        margin: 10px;
        min-width: 100px;
        padding: 20px 0;
        .countdown-value {
          color: $mint;
          font-size: 2rem;
          margin-bottom: 10px;
          padding: 0 20px;
          text-align: center;
        }
        .countdown-unit {
          color: change-color($grayscale, $lightness: 100%);
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
  }
  footer {
    background: change-color($grayscale, $lightness: 20%);
    bottom: 0;
    color: change-color($grayscale, $lightness: 100%);
    font-size: 0.8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $mint;
    }
  }
}

@keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}
