@import 'variables';
@import 'reset';

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: $black;
  background: linear-gradient(120deg, $black, hsl(0, 0%, 18%)) fixed;
  footer {
    background: $dark-gray;
    bottom: 0;
    color: $white;
    font-size: 0.8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $mint;
    }
  }
}
