@import 'variables';
@import 'reset';

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: $black;
  background: linear-gradient(120deg, $black, hsl(0, 0%, 18%)) fixed;
}
